@import '@/_styles/variables.scss';

.tooltip {
  background-color: $color-primary-dark;
  border-radius: 50%;
  height: 4.6rem;
  width: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-left: 3rem;

  &:hover {
    .tooltip-content {
      visibility: visible;
      opacity: 1;
    }
  }

  &-content {
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    background-color: $color-primary-dark;
    width: max-content;
    color: $color-white;
    text-align: center;
    border-radius: 3px;
    padding: 0.5rem;
    bottom: -100%;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $color-primary-dark transparent;
    }
  }

  &-icon-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      font-size: $font-size-medium;
    }
  }
}
