# You can copy this file to .env file and fill in the values. See https://developers.themoviedb.org/3/getting-started/introduction to learn how.
# MOVIEDB_API_KEY=your-api-key
# NEXT_PUBLIC_MOVIEDB_API_KEY=your-api-key

# For example:
# MOVIEDB_API_KEY='1234567890'
# NEXT_PUBLIC_MOVIEDB_API_KEY='1234567890'
