@import '@/_styles/variables.scss';

.menu-item {
  list-style: none;
  height: 6.5rem; // Same as header height
  align-items: center;
  display: flex;

  a {
    text-decoration: none;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
  }
}
