@import '@/_styles/variables.scss';

.menu-item {
  list-style: none;
  height: 6.5rem; // Same as header height
  align-items: center;
  display: flex;

  a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    color: $color-white;
  }

  button {
    background: none;
    border: none;
    outline: none;
    font: inherit;
    font-weight: 600;
    color: $color-white;
  }
}
