@import '@/_styles/variables.scss';

.pagination {
  margin-bottom: 10rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  button,
  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    font-weight: 900;
    color: $color-text-primary;
    align-items: center;
    gap: 0.25rem;

    &.active {
      border: 1px solid $color-text-primary;
    }
  }

  .icon {
    margin-bottom: -0.25rem;
  }
}
