@import '@/_styles/variables.scss';

.footer {
  width: 100%;
  height: 6.5rem;
  z-index: 200;
  background-color: $color-primary-dark;
  flex-shrink: 0;
  flex-grow: 0;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 6.5rem;
    font-style: italic;
    color: $color-white;
  }

  a {
    color: $color-primary-light;
    text-decoration: none;

    &:hover {
      font-weight: 900;
    }
  }
}
